@use './base';
@use './utility';

@media(min-width: 1440px) {

    header {
        grid-area: 'header';
        display: flex;
        flex-direction: row;
    }

    main {
        grid-area: 'main';
    }

    footer {
        grid-area: 'footer';
    }

    .grid-container {
        margin: 40px 80px;
        display: grid;
        grid-template-areas:
            'header header header'
            ' main main main'
            ' footer footer '
        ;
    }

    #main-mobile-pic {
        grid-area: 'pic';
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #int-1 {
        grid-area: 'title';
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    #int-2 {
        grid-area: 'paragraph';
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #read-btn {
        grid-area: 'btn';
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #intro {
        grid-area: 'intro';
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #news {
        grid-area: 'news';
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #num-area {
        grid-area: 'num';
        display: flex;
        flex-direction: row;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .sec-container {
        display: grid;

    }

    #main-mobile-pic {
        content: url(../assets/images/image-web-3-desktop.jpg);
    }

    #menu,
    #menu-close {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: 20px 0px;
    }

    li {
        margin: 20px;
    }

    .nav-bar {
        display: block;
        position: static;
    }

    #news-title {
        margin: 20px auto 20px 10px;
        font-size: 50px;
    }

}