@use './base';
@use './utility';

@media(min-width: 1440px) {
    header {
        grid-area: 'header';
    }

    main {
        grid-area: 'main';
    }

    footer {
        grid-area: 'footer';
    }

    .grid-container {
        margin: 0px;
        display: grid;
        grid-template-areas:
            'header header header'
            'header main footer'
            'header main footer'
            // 'header header header'
            // 'main main main'
            // 'footer footer footer'
        ;
    }

    #intro {
        grid-area: 'intro';
    }

    #news {
        grid-area: 'news';
    }

    #num-area {
        grid-area: 'num';
        display: flex;
        flex-direction: row;

    }

    .sec-container {
        display: grid;
        grid-template-areas:
            'intro num'
            'intro num'
            'news num'
            // 'intro intro news'
            // 'num num num';
    }

    #main-mobile-pic {
        content: url(../assets/images/image-web-3-desktop.jpg);
    }


}