#main-mobile-pic {
    width: 95%;
    display: block;
    margin: 10px auto 10px auto;
}

.num-pic {
    height: 125px;
    width: 100px;
}

.num-pic {
    margin: auto 10px auto 10px;
}

#icon {
    margin: 20px auto 20px 0px;
}

#menu {
    position: absolute;
    right: 10px;
    top: 30px;
}

#menu:hover {
    background-color: gray;
}