@use '../utility/variables' as var;

body {
    font-family: inter;
}

.num-text,
.number {
    color: var.$grayish-blue;
}

#news-title {
    font-size: 1.9rem;
}

.news-text {
    color: var.$dark-grayish-blue;
}

#read-btn {
    font-size: larger;
    font-weight: 700;
}

h1 {
    font-size: 2.7rem;
    font-weight: 800;
}